version: '3.8'
services:

  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  backend:
    image: mrgorkiy/foodgram_backend:latest
    restart: always
    volumes:
      - data_value:/app/data/
      - static_value:/app/static/
      - media_value:/app/media/
      - ./certbot/www:/var/www/certbot/
      - ./certbot/conf/:/etc/nginx/ssl/
    depends_on:
      - db
    env_file:
      - .env

  frontend:
    image: mrgorkiy/foodgram_frontend:latest
    volumes:
      - ../frontend/:/app/result_build/
      - ./certbot/www:/var/www/certbot/
      - ./certbot/conf/:/etc/nginx/ssl/
    depends_on:
      - backend

  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
      - "443:443"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ./docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
      - ./certbot/www:/var/www/certbot/
      - ./certbot/conf/:/etc/nginx/ssl/
      - ./certbot/data:/var/www/certbots
      - ./etc/letsencrypt/:/etc/letsencrypt/
#      - ./etc/letsencrypt/live/mrgorkiy.sytes.net/:/etc/letsencrypt/live/mrgorkiy.sytes.net/
    depends_on:
      - frontend
      - backend

#  certbot:
#    image: certbot/certbot
#    volumes:
#      - ./certbot/www/:/var/www/certbot/
#      - ./certbot/conf/:/etc/letsencrypt/
#      - ./certbot/data:/var/www/certbot
#    command: certonly --webroot --webroot-path /var/www/certbot/ --email mbrysin@bk.ru --agree-tos --no-eff-email --staging -d mrgorkiy.sytes.net

volumes:
  postgres_data:
  static_value:
  media_value:
  data_value:

